__pycache__/
.cache/

.vscode/
**.png
**.pkl

training-runs/**
cifar-10-python.tar.gz
datasets/**
minotaur
.local
.ipython
.jupyter

segmented_images/harpy
segmented_images/minotaur
segmented_images/pegasus
