[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
numpy = "*"
tqdm = "*"
python-dotenv = "*"
torchvision = "*"
torch = "*"
scipy = "*"
jupyter = "*"
pillow = "*"
ipympl = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.9"
